<div class="container">
  <div id='top-of-profile-row' class="row">
    <div id='user-profile-box' class="col-md-6 col-sm-6">
    <h1><%=@user.first_name%>'s profile</h1>
    <table id='profile-table'>
      <tr>
        <td>Name: </td>
        <td><%=@user.first_name%> <%=@user.last_name%></td>
      </tr>
      <tr>
        <td>Status:</td>
        <td><%=@user.type %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%=@user.email%></td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td><%=@user.phone%></td>
      </tr>
      <tr>
        <td>Currently in</td>
        <td>Phase: <%=@user.phase%></td>
      </tr>
    </table>
    </div>
    <div id='user-photo-box' class="col-md-6 col-sm-6 col-xs-6">
      <%= image_tag @user.id, size: "300x300", alt: "Edit Entry" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h3>Upcoming Appointments</h3>
      <p>   </p>
      <ul>
      <%@upcoming_appointments.each do |appointment|%>
        <% if !appointment.is_past? %>
        <li><a href="/appointments/<%=appointment.id%>"><%=appointment.start_datetime.strftime(format='%A %B %d %Y at %I:%M%p') %></a></li>
        <% end %>
      <% end %>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6">
      <h3> Past Appointments</h3>
        <p>Don't forget to leave feedback!</p>
      <ul>
      <%@upcoming_appointments.each do |appointment|%>
        <% if appointment.is_past? %>
        <li><a href="/appointments/<%=appointment.id%>"><%=appointment.start_datetime.strftime(format='%A %B %d %Y at %I:%M%p') %></a></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
  <hr>
  <div class= 'row'>
    <div class="col-md-2 col-sm-2">
    </div>
     <div class="col-md-8 col-sm-8">
      <h3>Feedback:</h3>
    </div>
     <div class="col-md-2 col-sm-2">
    </div>
 </div>

</div>
