<h1>Create Appointment</h1>

<%=form_for @appointment do |f|%>
  <p>
    <%=f.label 'Start date' %>
    <input  type="date" name="appointment[start_date]">
  </p>
  <p>
    <%=f.label 'Start time' %>
    <input id="task_started_at" name="appointment[start_time]" type="time" />
  </p>
  <p>
    <%=f.label'Duration in minutes'%>
    <select name='appointment[duration]'>
      <option value='30'>30</option>
      <option value='60'>60</option>
    </select>
  </p>
  <p>
    <%=f.fields_for :topics do |topic_field|%>
      <% @topics.each do |topic|%>
      <p>
        <%= topic_field.check_box topic.name %><%=topic.name%>
      </p>
      <%end%>
    <%end%>
  </p>
  <%=f.submit%>
<%end%>
