<h1>Appointment with <%=@appointment.mentor.first_name%></h1>
<div class="row">
  <table id='form-table'>
    <tr>
     <td>Appointment at: </td>
     <td><%=@appointment.start_datetime.strftime(format='%A %B %d %Y at %I:%M%p')%></td>
    </tr>
    <tr>
     <td> Duration: </td>
     <td><%=@appointment.duration%></td>
    </tr>
    <tr>
     <td> </td>
     <td><%if !@appointment.is_booked? && !current_user.is_mentor? %>
           <%=form_for @appointment do |f|%>
           <%=f.submit "Book-it" %>
           <%end%>
         <%end%></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <% if @appointment.is_reviewable?(current_user) && !@appointment.already_reviewed_by?(current_user)%>
        <form action= "/reviews/new" method="get">
           <input type="hidden" name="appointment_id" value="<%=@appointment.id%>" >
           <input type="submit" value="Post review">
        </form>
        <% end %>
      </td>
    </tr>

  </table>


</div>
